*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    width: 100%;
    min-height:100% ;
    background-image: url('../img/imgfundo.jpg');
    margin: 0;
    
    
    

    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}