*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal{
    
    width: 100%;
    max-width: 100%;
    max-width: 1700px;
    
    background-image: url('../img/imgfundo.jpg');
    

    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}